
*
  box-sizing: border-box

#app
  margin-top: 50px
  max-width: 500px

input,
div
  width: 100%
  display: block
  margin: 0 auto

::-webkit-input-placeholder
  color: #eee

input
  font: 100 40px 'Helvetica Neue'
  border: 0 none
  text-align: center
  border-bottom: 1px solid #f0f0f0

input:focus
  outline: 0 none

